
<a href="@Url.Action("Giohang","GioHang")" style="color:white;font-weight:bold;text-decoration:none;">
<<<<<<< HEAD
   Giỏ Hàng (@ViewBag.Tongsoluong)
=======
    <img src="~/Content/images/.png"/>Giỏ Hàng (@ViewBag.Tongsoluong)
>>>>>>> e6d7a8a624ea7d3de0dc4f2fa8432bb450a6a75c
</a>
